<!-- This html is for the "about" page of the website, which introduces the website's functions. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body {
            background-color: white;
            text-align: center;
        }

        h1 {
            font-family: 'Segoe Script', sans-serif;
            color: palevioletred;
            font-size: 60px;
            background-color: whitesmoke;
        }

        p {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <h1>About the Amazon Price Check:</h1>
    <p>
        To help you to receive the best deal, this website tracks product prices from Amazon for you! <br>
        After inputting your valid email address and the URL of your intended product, you will receive an email alert
        promptly whenever the price drops.
    </p>
    <p1>
        Contacts: zyan2@babson.edu; zluo1@babson.edu
    </p1>
</body>

</html>