<!-- This html is for the "info" page of the website, which gathers user's email and product link. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Price Check</title>
    <style>
        body {
            background-color: white;
            text-align: center;
        }

        h1 {
            font-family: 'Segoe Script', sans-serif;
            color: palevioletred;
            font-size: 60px;
            background-color: whitesmoke;
        }
    </style>
</head>

<body>
    <h1>Welcome to the Amazon Price Check!</h1>
    <h2>Please enter the product's URL from Amazon and your email below.</h2>

    <form action="/info" method="post">
        <label for="product_url">Product URL:</label>
        <input type="text" id="product_url" name="product_url" required>

        <label for="userinput_email">Your Email:</label>
        <input type="email" id="userinput_email" name="userinput_email" required>

        <button type="submit">Submit</button>
    </form>
</body>

</html>